.red{
    background: #ff0000;
    padding: 15px 20px;
    border-radius: 50%;
    border: none;
}


.green{
    background: #2a7106;
    padding: 15px 20px;
    border-radius: 50%;
    border: none;
}
.yellow{
    background: #fbff00;
    padding: 15px 20px;
    border-radius: 50%;
    border: none;
}

.black{
    background:#000;
    padding: 15px 20px;
    border-radius: 50%;
    border: none;
}

    svg {
        width: 400px;
        height: 500px;
    }

    ul.button-colors {
    display: flex;
    list-style: none;
    padding: 0;
}

ul.button-colors li {
    margin: 0px 10px 0px 0px;
}

.panel {
    display: flex;
}

.panel-single {
    margin: 0px 50px 0px 0px;
}


path#Option_R1042_Sleeves_000_1{
    fill:url('RIB_001.png');
}

.itemAllPoses {
    display: flex;
    justify-content: center;
    align-items: center;
}


